<div class="row show-list">
    {% for data in overview %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <a href="{{ data['folder'] }}" title="{{ data['title'] }}">
                    <img class="card-img-top img-fluid" src="{{ data['thumbUrl'] }}">
                </a>
                <div class="card-block">
                    <a class="show-card-title" href="{{ data['folder'] }}" title="{{ data['title'] }}">
                        {{ data['title'] }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <br class="clear">
</div>