<div class="row movie-row">
    <div class="col-xs-12 col-sm-6 col-md-3 cursor-hand">
        <img src="{{ poster }}" class="img-fluid" data-toggle="movie-poster" alt="Movie Poster"
        data-url="{{ poster_big }}" data-id="{{ id }}">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
        <div class="movie-card">
            <h1 class="movie-card-header">
                {{ title }}
            </h1>
            <div class="movie-card-block">
                <p class="movie-card-block-description">
                    {{ overview }}
                </p>
                {% if collection_name|length > 0 %}
                    <p>
                        <a href="?collection={{ collection_id }}" class="btn btn-outline-info" title="Nach Filmen der {{ collection_name }} suchen" data-toggle="tooltip">{{ collection_name }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="movie-card-footer">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row mb-0">
                            <dt class="col-md-3">Darsteller</dt>
                            <dd class="col-md-9">
                                {% for actor in actors %}
                                    <a href="?filter={{ actor }}" class="btn btn-outline-info" title="Nach {{ actor|raw }} suchen" data-toggle="tooltip">{{ actor|raw }}</a>
                                {% endfor %}
                            </dd>
                            <dt class="col-md-3">Regie</dt>
                            <dd class="col-md-9">
                                {% for director in directors %}
                                    <a href="?filter={{ director|url_encode }}" class="btn btn-outline-info" title="Nach {{ director }} suchen" data-toggle="tooltip">{{ director }}</a>
                                {% endfor %}
                            </dd>
                            <dt class="col-md-3">Genres</dt>
                            <dd class="col-md-9">
                                {% for genre in genres %}
                                    <a href="?genres={{ genre }}" class="btn btn-outline-info" title="Nach {{ genre }} suchen" data-toggle="tooltip">{{ genre }}</a>
                                {% endfor %}
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row mb-0">
                            <dt class="col-md-4 text-nowrap">Jahr / Land / Info</dt>
                            <dd class="col-md-8">{{ '%s / %s / %s'|format(year, countries|join(', '), info)|raw }}</dd>
                        </dl>
                        <a href="{{ filename }}" class="btn btn-primary w-25">
                            <i class="fa fa-play"></i>
                        </a>
                        <a href="" class="btn btn-secondary w-25" data-toggle="modal" data-target="#movie-edit-box" data-id="{{ id }}" data-filename="{{ filename }}">
                            <i class="fa fa-pencil"></i>
                            Bearbeiten
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>