{% extends "layout.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src='http://{{ host }}/js/movies.js?ver=1'></script>
{% endblock %}

{% block dialogs %}
    {% include "movies/searchDialog.html.twig" with {
        'lists': lists,
        'collections': collections
    } only %}
    {% include "movies/editDialog.html.twig" with {
    'lists': lists,
    'collections': collections
    } only %}
{% endblock %}

{% block header_bar %}
    {% include "movies/headerBar.html.twig" %}
{% endblock %}

{% block content %}
    <div id="nm-movie-details-wrapper" data-fetch-size="{{ fetchSize }}"
        data-category="{{ category }}" data-sort="{{ sort }}" data-filter="{{ filter }}"
        data-genres="{{ genres }}" data-collection="{{ collection }}" data-list="{{ list }}">
        {% include "movies/movieWrapper.html.twig" with {
            'movies': movies,
        } only %}
    </div>
{% endblock %}
