{% extends "layout.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src='http://{{ host }}/resources/public/js/movies.js?ver=1'></script>
{% endblock %}

{% block dialogs %}
    {% include "movies/searchDialog.html.twig" with {
        'filter': filter,
        'list': list,
        'listOptions': listOptions,
        'collection': collection,
        'collectionOptions': collectionOptions,
        'genre': genre,
        'genreOptions': genreOptions
    } only %}
    {% include "movies/editDialog.html.twig" %}
{% endblock %}

{% block header_bar %}
    {% include "movies/headerBar.html.twig" %}
{% endblock %}

{% block content %}
    <div id="nm-movie-details-wrapper" data-fetch-size="{{ fetchSize }}"
        data-category="{{ category }}" data-sort="{{ sort }}" data-filter="{{ filter }}"
        data-genre="{{ genre }}" data-collection="{{ collection }}" data-list="{{ list }}">
        {% include "movies/movieWrapper.html.twig" with {
            'movies': movies,
        } only %}
    </div>
{% endblock %}
