{% extends "layout.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_bar %}
    {% include "categoryOverview/headerBar.html.twig" %}
{% endblock %}

{% block content %}
    <div class="category-overview">
        {% for data in overview %}
            <a href="{{ data['folder'] }}" class="sub-category" title="{{ data['title'] }}">
                <img class="thumbnail" src="{{ data['thumbUrl'] }}">
                <span>{{ data['title'] }}</span>
            </a>
        {% endfor %}
        <br class="clear">
    </div>
{% endblock %}
