<div class='series-title'>
    <div class="header-caption">{{ header }}</div>
    <div class='header-buttons-left'>
        {% if target is defined %}
            <a href="http://{{ target }}" class="backBn">&lt; Zurück</a>
        {% endif %}
        <br class='clear'>
    </div>
    <div class='header-buttons-right'>
        {% if searchButtons is defined %}
            {% set class1 = (filter == "" and genres == "" and collection == 0 and list == 0 and sort == "date_desc") ? " class='header-buttons-active'" : ""  %}
            {% set class2 = (filter == "" and genres == "" and collection == 0 and list == 0 and sort == "name_asc") ? " class='header-buttons-active'" : "" %}
            {% set class3 = (filter != "" or  genres != "" or  collection != 0 or  list != 0) ? " class='header-buttons-active'" : "" %}
            <a href="?sort=date_desc" {{ class1 }}>Datum</a>
            <a href="?sort=name_asc"  {{ class2 }}>Name</a>
            <a href="javascript:void(0)" id='search-box-link' {{ class3 }}>Suche</a>
        {% endif %}
        <br class='clear'>
    </div>
    <br class='clear'>
</div>