<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                TV
            {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="http://{{ host }}/imgs/favicon.png">
        {% block stylesheets %}
            <link rel="Stylesheet" type="text/css" href="http://{{ host }}/resources/public/css/vendor/bootstrap.min.css"/>
            <link rel="Stylesheet" type="text/css" href="http://{{ host }}/vendor/fortawesome/font-awesome/css/font-awesome.css"/>
            <link rel="Stylesheet" type="text/css" href="http://{{ host }}/bs.css?ver=2"/>
        {% endblock %}
    </head>
    <body>
        <input type="hidden" id="host" value="{{ host }}">
        {% block dialogs %}

        {% endblock %}
        {% block header_bar %}

        {% endblock %}
        <div class="container-fluid">
            {% block content %}
                Hier ist nichts
            {% endblock %}
        </div>
        {% block js %}
            <script type="text/javascript" src="http://{{ host }}/resources/public/js/vendor/jquery.min.js"></script>
            <script type="text/javascript" src="http://{{ host }}/resources/public/js/vendor/popper.min.js"></script>
            <script type="text/javascript" src="http://{{ host }}/resources/public/js/vendor/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="http://{{ host }}/resources/public/js/vendor/bootbox.min.js"></script>
            <script type="text/javascript" src="http://{{ host }}/main.js?ver=1"></script>
        {% endblock %}
    </body>
</html>
