<div class="row episodes-wrapper" style='background-image: url("{{ imageUrl }}")'>
    {% if showData|length > 1 %}
        <ul class="col-12 season-navigation position-fixed">
            {% for season in showData %}
                <li>
                    <a href="#{{ season["title"] }}-link">{{ season["title"] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul id='season-list' class="col-md-5 col-sm-6 {% if showData|length > 1 %}mt-5{% endif %}">
        {% for season in showData %}
        <li>
            <span class='season-title' id="{{ season["title"]  }}-link">
                {{ season["title"] }}
            </span>
            <ul class='episode-list'>
                {% for episode in season["episodes"] %}
                    {% set class = episode["link"] is not empty ? "episode-link-present" : "episode-link-missing" %}
                    {% set link = episode["link"] is not empty ? episode["link"] : "" %}

                    <li class="{{  class }}">
                        <a class="episode-link" href='javascript:void(0)' title='{{ episode["label"]  }}'
                           data-id='{{ episode["id"] }}' data-href='{{ link }}'>
                            {{ episode["label"] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <div id="episode-details-wrapper" class="offset-md-5 col-md-7 offset-sm-6 col-sm-6 hidden-xs-down fixed-top">
        <div id="episode-details">
        </div>
    </div>
</div>
